[COMMON]
BOT_TOKEN = BOTTOKEN
ADMIN_USER_ID = ID_NUMBER

[IMDB]
DEFAULT_LIMIT_RANKING = 5

[SONARR]
ENABLED = ON
URL = http://192.168.1.1:8989
TOKEN = SONARR_API_TOKEN
SEASON_FOLDER = ON
CALENDAR_PERIOD_DAYS_SERIES = 30

[RADARR]
ENABLED = OFF
URL = http://192.168.1.1:7878
TOKEN = RADARR_API_TOKEN
CALENDAR_PERIOD_DAYS_MOVIES = 180
