[COMMON]
BOT_TOKEN = BOTTOKEN
ADMIN_USER_ID = ID_NUMBER
PERMANENT_DELETE_MEDIA = OFF
USERS_CAN_ONLY_DELETE_OWN_MEDIA = ON
SIGN_UP_IS_OPEN = ON
ONLY_SHOW_PATH_LARGEST_FREE_SPACE = NO
EXCLUDE_ADMIN_FROM_HISTORY = OFF

[IMDB]
DEFAULT_LIMIT_RANKING = 5

[SONARR]
ENABLED = ON
URL = http://192.168.1.1:8989
TOKEN = SONARR_API_TOKEN
SEASON_FOLDER = ON
CALENDAR_PERIOD_DAYS_SERIES = 30
AUTO_ADD_EXCLUSION = tag1,tag2
PERIOD_DAYS_ADDED_NEW_DOWLOAD = 5
TAGS_KEEP_MOVIES_ANYWAY = tag3,tag4
TAGS_TO_EXTEND_PERIOD_BEFORE_REMOVAL = tag5,tag6

[RADARR]
ENABLED = OFF
URL = http://192.168.1.1:7878
TOKEN = RADARR_API_TOKEN
CALENDAR_PERIOD_DAYS_MOVIES = 180
AUTO_ADD_EXCLUSION = tag7,tag8
PERIOD_DAYS_ADDED_NEW_DOWLOAD = 5
TAGS_KEEP_MOVIES_ANYWAY = tag9,tag10
TAGS_TO_EXTEND_PERIOD_BEFORE_REMOVAL = tag11,ta12

[PRUNE]
ENABLED = OFF
DRY_RUN = ON
TAGS_TO_MONITOR_FOR_REMOVAL_MOVIES = tag1,tag2,tag3
REMOVE_MOVIES_AFTER_DAYS = 30
WARN_DAYS_INFRONT = 1
ONLY_SHOW_REMOVE_MESSAGES = OFF
EXTEND_PERIOD_BY_DAYS = 30
VIDEO_EXTENSIONS_MONITORED = .mp4,.avi,.mkv,.m2ts,.wmv
ONLY_MAIL_WHEN_RESULT = OFF
MAIL_ENABLED = OFF
MAIL_PORT = "587"
MAIL_SERVER = "mail.sever.tld"
MAIL_LOGIN = "login@mail.tld"
MAIL_PASSWORD = "sgdfjsgdjsdg"
MAIL_SENDER = "sender@mail.tld"
MAIL_RECEIVER = "receiver@mail.tld"

[PUSHOVER]
ENABLED = OFF
USER_KEY = xxxxxxxxxxxxxxx
TOKEN_API = xxxxxxxxxxxxxxx
SOUND = pushover