[COMMON]
BOT_TOKEN = BOTTOKEN
ADMIN_USER_ID = ID_NUMBER
CALENDAR_PERIOD_DAYS = 30

[IMDB]
DEFAULT_LIMIT_RANKING = 5

[SONARR]
[ENABLED] = ON
URL = http://192.168.1.1:8989
TOKEN = SONARR_API_TOKEN
SEASON_FOLDER = ON

[RADARR]
[ENABLED] = OFF
[URL] = http://192.168.1.1:7878
TOKEN = RADARR_API_TOKEN
